  <ul class="d-flex">
    <% @webdevs.each do |webdev| %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= webdev.service_type %></h5>
          <p class="card-text">Price: EUR <%= webdev.price %> /hour</p>
          <p class="card-text">Experience: <%= webdev.experience_year %> year(s)</p>
          <p class="card-text">Availability: <%= webdev.availability %></p>
          <button type="button" class="btn btn-light"><%= link_to "See details", webdev_path(webdev) %></button>
        </div>
      </div>
    <% end %>
  </ul>
