<div class="container d-flex mt-4">

  <div class="filter sticky-gab" style="height: 70vh;">

    <div class="d-flex align-items-center border-downline">
    <i class="fa-solid fa-arrow-up-short-wide me-3"></i>
    <h5 class="mb-0">Filter your results</h5>

    </div>
      <ul class="mt-2">
        <li><%= link_to "Website Development", webdevs_path(query:"Website Development") %></li>
        <li><%= link_to "E-commerce Development", webdevs_path(query:"E-commerce Development") %></li>
        <li><%= link_to "Mobile App Development", webdevs_path(query:"Mobile App Development") %></li>
        <li><%= link_to "UI/UX Design", webdevs_path(query:"UI/UX Design") %></li>
        <li><%= link_to "Front-end Development", webdevs_path(query:"Front-end Development") %></li>
        <li><%= link_to "Back-end Development", webdevs_path(query:"Back-end Development") %></li>
        <li><%= link_to "WordPress Development", webdevs_path(query:"WordPress Development") %></li>
        <li><%= link_to "Custom Web Application Development", webdevs_path(query:"Custom Web Application Development") %></li>
        <li><%= link_to "Graphic Design", webdevs_path(query:"Graphic Design") %></li>
        <li><%= link_to "SEO Optimization", webdevs_path(query:"SEO Optimization") %></li>
        </ul>
    </div>


  <div class="container mt-4 d-flex mb-4">

    <div class="column" style="width: 100%;">
      <div class="row justify-content-center">
      <div class="col-sm-12 my-3">
        <%= form_with url: webdevs_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "🔎 Search here what are you looking for..."%>
          <%= submit_tag "Go!", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

      <% @webdevs.each do |webdev| %>
        <div class="webdevs-main">
          <div class="row">
            <div class="col-sm-7 col-md-8">

              <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-3 text-center">
                  <% if webdev.photo.attached?%>
                    <%=cl_image_tag webdev.photo.key, height: 100, width: 100, crop: :fill, class:"avatar-bordered-card" %>
                  <%else%>
                    <img src="https://img.freepik.com/photos-premium/portrait-drole-chien-fou-surpris_713888-1130.jpg?w=2000" alt="" class="avatar-bordered-card">
                  <% end %>
                </div>

                <div class="col-xs-12 col-sm-7 col-md-9 text-center-xs">
                  <h3><b><%= webdev.user.name %></b></h3>
                  <h5><%= webdev.service_type %></h5>
                  <p>Experience: <%= webdev.experience_year %> year(s)</p>
                  <p><%= webdev.availability %></p>
                </div>
              </div>

              <div class="mt-1">
                <p><%=webdev.description%></p>
              </div>
            </div>

            <div class="col-sm-5 col-md-4 col-xs-12 text-end">

              <button type="button" class="btn btn-primary rounded-5 mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Hire me!
              </button>

              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Choose the dates you need</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                      <div class="card_info">
                        <div>
                          <%= simple_form_for [webdev, @reservation] do |f| %>
                            <%= f.input :start_date, html5: true %>
                            <%= f.input :end_date, html5: true %>
                            <%= f.submit "Submit Reservation", class: "btn btn-primary rounded-5 mt-2 new_btn_large" %>
                          <% end %>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>




              <% if webdev.user_id == current_user.id %>
                <%= link_to "Edit your details", edit_webdev_path(webdev), class: "btn btn-outline-primary rounded-5 mt-2"%>
              <% else %>
              <% end %>

              <div class="text-center-sm">
                <p class="h5 text-center-sm mt-3"><span class="small">Hourly rate:</span></p>
                <p class="h5 text-center-sm"><span class="price">EUR <%= webdev.price %></span></p>
              </div>
            </div>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>
