<div class="container">

  <div class="d-flex justify-content-center">

    <div class="webdevs-main mt-4" style="width: 500px;">
      <h1 class="mtb-2 text-center">New reservation</h1>
      <p class="text-center text-grey"><i>Tell us, what kind of service do you want to provide?</i></p>


      <div class="card_info">
        <div>
          <%= simple_form_for(@webdev) do |f| %>
            <%= f.input :service_type %>
            <%= f.input :price %>
            <%= f.input :experience_year %>
            <%= f.input :availability %>
            <%= f.input :photo, as: :file %>
            <%= f.submit %>
          <% end %>
      </div>

      </div>
    </div>
  </div>
</div>
