<h2><%= @webdev.service_type %></h2>
<p><%= @webdev.price %></p>
<p><%= @webdev.experience_year %></p>
<p><%= @webdev.availability %></p>

 <button type="button" class="btn btn-light"><%= link_to "Edit", webdevedit_path%></button>
 <button type="button" class="btn btn-light"><%= link_to "Back to overview", webdevs_path%></button>
