<div class="container mt-4 mb-4">

  <h2 class="ms-5">Check out your reservations 👀</h2>

  <div class="mt-4 mb-5">
      <%# <h2 class="mt-4">Reservation Details</h2> %>

    <% @reservations.each do |reservation|%>

      <div class="webdevs-main d-flex justify-content-around align-items-center mb-5">
        <div>

          <div class="border-downline d-flex align-items-center mb-3">

            <div class="mb-3">
              <% if reservation.webdev.photo.attached?%>
                <%=cl_image_tag reservation.webdev.photo.key, crop: :fill, class:"avatar-small-card" %>
              <%else%>
                <img src="https://img.freepik.com/photos-premium/portrait-drole-chien-fou-surpris_713888-1130.jpg?w=2000" alt="" class="avatar-bordered-card">
              <% end %>
            </div>

            <div class="ms-3">
              <h5><strong><%= reservation.webdev.user.name %></strong></h5>
            </div>

          </div>

          <div>
            <div class="d-flex">
                <div>
                  <i class="fa-solid fa-wand-magic-sparkles me-4"></i>
                </div>

                <div>
                  <h6><strong>Service Type:</strong></h6>
                  <p><%= reservation.webdev.service_type %></p>
                </div>
            </div>

            <div class="d-flex">
                <div>
                  <i class="fa-solid fa-calendar me-4"></i>
                </div>

                <div>
                  <h6><strong>Start Date:</strong></h6>
                  <p><%= reservation.start_date.strftime("%b %e, %l:%M %p") %></p>
                </div>

                <div class="special-gab">
                  <h6><strong>End Date:</strong></h6>
                  <p><%= reservation.end_date.strftime("%b %e, %l:%M %p") %></p>
                </div>

            </div>

            <div class="d-flex">
                <div>
                  <i class="fa-regular fa-clock me-4"></i>
                </div>

                <div>
                  <h6><strong>Duration:</strong></h6>
                  <%  @duration_in_hours = (reservation[:end_date] - reservation[:start_date]).to_i / 1.hour %>
                  <p><%= @duration_in_hours %> hour(s) of work</p>
                </div>
            </div>

            <div class="d-flex">
                <div>
                  <i class="fa-solid fa-coins me-4"></i>
                </div>

                <div>
                  <h6><strong>Total price:</strong></h6>
                  <p><%= number_to_currency(reservation.price) %></p>
                </div>
            </div>
          </div>
        </div>

        <div class="ms-5">
          <div class="d-flex">
            <% if reservation.status == 'pending' %>
              <div>
                <p class="me-4">⏳ Your reservation is currently pending</p>
                <img src="https://media.giphy.com/media/wbXkGmM7YMgpCggnPB/giphy.gif" class="gif-size" alt="">
              </div>

            <% elsif reservation.status == 'approved' %>
              <div>
                <p class="me-4">✅ Your reservation has been approved</p>
                <img src="https://media.giphy.com/media/yoJC2GnSClbPOkV0eA/giphy.gif" class="gif-size" alt="">
              </div>

            <% elsif reservation.status == 'rejected' %>
              <div>
                <p class="me-4">❌ Your reservation has been rejected</p>
                <img src="https://media.giphy.com/media/W0c3xcZ3F1d0EYYb0f/giphy.gif" class="gif-size" alt="">
              </div>
            <% end %>
          </div>
        </div>

      </div>
    <%end%>
  </div>

</div>
